#container-header h1 {
  margin: 20px 0px;
  display: inline-block;
}
#container-header span {
  margin-left: 70%;
}

#allTags {
  height: 200px;
  overflow: auto;
}

.sub_bookmark_link {
  margin-left: 10px;
}

.not_authenticated, .authenticated {
  display: none;
}

@media (min-width: 1200px) {
  .container {
      width: 80%;
  }
}
