ul,
li {
  padding: 0;
  list-style: none;
  background-color: #fcfcfc; 
}

li {
  margin: 0 0 0 1em;
}

li:before {
  content: '□';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1em;
  padding-right: 5px;  
}

li.leaf:before {
  content: '■';
  color: #d9230f;
}

li.completed:before{
  content: '✔';
  color: #4caf50!important;
} 

li.journal:before {
  content: '★';
  color: #029acf;
}

li.todo:before {
  color: #ffeb3b;
}

li.filtered {
  background-color: rgba(0,0,0,0.075);
}
li:not(.filtered):not(.smartTag) { 
  background-color: #fcfcfc; 
}
